{:paths   ["src"]
 :deps    {org.clojure/data.int-map {:mvn/version "1.3.0"}
           provisdom/math           {:git/url "https://github.com/Provisdom/math.git"
                                     :sha "8347258b80d280734faad55db23a78cfdca307d4"}
           provisdom/utility-belt   {:git/url "https://github.com/Provisdom/utility-belt.git"
                                     :sha "c7bf8373468bce3aca4d1169a374199834207183"}}
 :aliases {:local           {:override-deps {provisdom/math         {:local/root "../math"}
                                             provisdom/utility-belt {:local/root "../utility-belt"}}}
           :test            {:extra-paths ["test"]
                             :extra-deps  {orchestra/orchestra    {:mvn/version "2021.01.01-1"}
                                           org.clojure/test.check {:mvn/version "1.1.1"}
                                           provisdom/test         {:git/url "https://github.com/Provisdom/test.git"
                                                                   :sha "8d4fb1a50a23168f2f63f19cb571bdf9ba5ba9c6"}}}
           :test-clj-runner {:extra-deps {lambdaisland/kaocha           {:mvn/version "1.91.1392"}
                                          lambdaisland/kaocha-junit-xml {:mvn/version "1.17.101"}}
                             :main-opts  ["-m" "kaocha.runner"]}}}
