{:paths   ["src"]
 :deps    {org.clojure/data.int-map {:mvn/version "1.3.0"}
           provisdom/math           {:git/url "https://github.com/Provisdom/math.git"
                                     :sha "d674f6a6b84903ad93330c5a98de2806b9878758"}
           provisdom/utility-belt   {:git/url "https://github.com/Provisdom/utility-belt.git"
                                     :sha "5ada4da1fa8dedceef973b4615a6f0ff398ea3aa"}}
 :aliases {:local           {:override-deps {provisdom/math         {:local/root "../math"}
                                             provisdom/utility-belt {:local/root "../utility-belt"}}}
           :test            {:extra-paths ["test"]
                             :extra-deps  {orchestra/orchestra    {:mvn/version "2021.01.01-1"}
                                           org.clojure/test.check {:mvn/version "1.1.1"}
                                           provisdom/test         {:git/url "https://github.com/Provisdom/test.git"
                                                                   :sha "e64700e138cdcf225ee0ced6aecda6db8207b616"}}}
           :test-clj-runner {:extra-deps {lambdaisland/kaocha           {:mvn/version "1.91.1392"}
                                          lambdaisland/kaocha-junit-xml {:mvn/version "1.17.101"}}
                             :main-opts  ["-m" "kaocha.runner"]}}}
