{:paths   ["src"]
 :deps    {org.clojure/data.int-map {:mvn/version "1.3.0"}
           provisdom/math           {:git/url "https://github.com/Provisdom/math.git"
                                     :git/sha "21a18505322607bbadf8e71645824035ab312d17"}
           provisdom/utility-belt   {:git/url "https://github.com/Provisdom/utility-belt.git"
                                     :git/sha "8bd6c7add75d0a1004af931ce7a9ea18bc0c2ed0"}}
 :aliases {:local           {:override-deps {provisdom/math         {:local/root "../math"}
                                             provisdom/utility-belt {:local/root "../utility-belt"}}}
           :test            {:extra-paths ["test"]
                             :extra-deps  {orchestra/orchestra    {:mvn/version "2021.01.01-1"}
                                           org.clojure/test.check {:mvn/version "1.1.1"}
                                           provisdom/test         {:git/url "https://github.com/Provisdom/test.git"
                                                                   :git/sha "f62afc093223dff1830a0142bd076ab89cbdef6c"}}}
           :test-clj-runner {:extra-deps {lambdaisland/kaocha           {:mvn/version "1.91.1392"}
                                          lambdaisland/kaocha-junit-xml {:mvn/version "1.17.101"}}
                             :main-opts  ["-m" "kaocha.runner"]}}}
